---
import PageTitle from "@astro-components/PageTitle.astro";
import PageSubTitle from "@astro-components/PageSubTitle.astro";
import Button from "./Button.astro";
---

<section class="max-w-4xl mx-auto p-6">
  <PageTitle titleText="Welcome to PostHub" />
  <PageSubTitle titleText="Connect with amazing content and authors" />

  <p class="mt-6 text-lg leading-relaxed text-gray-700">
    Explore a growing community of writers sharing their stories, ideas, and
    insights. Read the latest posts or create your own to join the conversation!
  </p>
</section>
