---
import { alertClass } from "@utils/componentClasses/alertClass";
const { variant, outline, class: className } = Astro.props;
---

<div class={alertClass({ variant, outline, className })}><slot /></div>
