---
import { subTitleClass } from "@utils/componentClasses/subTitleClass";
const { variant, class: className, ...rest } = Astro.props;
---

<h2 class={subTitleClass({ variant, className })} {...rest}><slot /></h2>
