---
import { AppUrls } from "@utils/enumerators";
import NavBarSearchBar from "@react-components/NavBarSearchBar.jsx";
import AuthLinks from "@react-components/AuthLinks";
import UserAccount from "@astro-components/UserAccount.astro";
const currentUser = await Astro.session?.get("user");
---

<nav
  class="flex items-center gap-4 px-8 py-4 bg-blue-950 text-white text-base relative"
>
  <a href={AppUrls.HomePage} class="flex items-center gap-2 mr-6">
    <span class="font-semibold tracking-wide text-base">NebulousNova</span>
  </a>
  <div class="flex-grow-2">
    <NavBarSearchBar client:load />
  </div>
  {currentUser ? <UserAccount currentUser={currentUser} /> : <AuthLinks />}
</nav>
